.hero-container {
    background: linear-gradient(135deg, #1b034e, #02172d, #120338);
    text-align: center;
    padding: 50px;
    font-size: 24px;
    font-weight: bold;
    margin-top: -100px;
  }
  