.hero-container {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  background: linear-gradient(135deg, #0F0715, #150B21, #25143E);
  margin-top: -20px;
}

/* Apply padding only for larger screens */
@media (min-width: 768px) {
  .hero-container {
      padding: 50px;
      padding-left: 100px;
      padding-right: 100px;
      
  }
}
