.container-eg-btn-4 .button-3 {
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%);
    background-size: 200% auto;
    transition: 0.3s;
}

.container-eg-btn-4 .button-3:hover {
    background-position: right center;
    box-shadow: 0 4px 15px 0 #12d8fa;
}

.container-eg-btn-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
}

.container-eg-btn-4 .button {
    background: #af40ff;
    padding: 10px 15px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    border-radius: 12px;
    font-weight: 700;
    font-size: 16px;
}

@media (min-width: 768px) {
    .nav-bg {
        
        padding-left: 100px;
        padding-right: 100px;
    }
  }
  