.Services-container {
  background: linear-gradient(135deg, #1b034e, #02172d, #120338);
  text-align: center;
  padding: 50px;
  width: 100%;
}
.popup{
  background: linear-gradient(#814CED,#5A33A9,#351B66) ;
}
